<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>261500518113-ntmqcsebv4vl74neijlstp2g7tbmiptg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261500518113-ntmqcsebv4vl74neijlstp2g7tbmiptg</string>
	<key>API_KEY</key>
	<string>AIzaSyB3BQo9ipj3fu_y59FL-AGeADxW1LhxSOk</string>
	<key>GCM_SENDER_ID</key>
	<string>261500518113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wallasquad.wallaapp</string>
	<key>PROJECT_ID</key>
	<string>walla-launch</string>
	<key>STORAGE_BUCKET</key>
	<string>walla-launch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:261500518113:ios:306919edcc719392</string>
	<key>DATABASE_URL</key>
	<string>https://walla-launch.firebaseio.com</string>
</dict>
</plist>