<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>walla-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB0E8BB21E008B0A00BC293C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB0E8BCE1E008B0B00BC293C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB0E8BD91E008B0B00BC293C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
